<div id="bugs">
    <div class="bug-head">
        <div class="bug-head-row">
            <div class="bug-head-row-short">
                <div class="bug-head-row-short-column"></div>
                <div class="bug-head-row-short-column">
                    <comp-language base="Subject"></comp-language>
                </div>
                <div class="bug-head-row-short-column">
                    <comp-language base="Reported"></comp-language>
                </div>
                <div class="bug-head-row-short-column">
                    <comp-language base="Solved?"></comp-language>
                </div>
            </div>
        </div>
    </div>
    <div class="bug-body">
        <div ng-repeat="bug in bugs.list | orderBy: '-created_at' | limitTo: bugs.eps:bugs.begin" class="bug-body-row" ng-class="bug.solved ? success : warning" ng-click="bug.display = !bug.display">
            <div class="bug-body-row-short">
                <div class="bug-body-row-short-column">
                    #{{bug._id | limitTo:6:18}}
                </div>
                <div class="bug-body-row-short-column">
                    {{bug.subject}}
                </div>
                <div class="bug-body-row-short-column">
                    {{bug.created_at}}
                </div>
                <div class="bug-body-row-short-column">
                    {{bug.solved}}
                </div>
            </div>
            <div class="bug-body-row-extended" ng-if="bug.display" ng-click="$event.stopPropagation();">
                ID: #{{bug._id | limitTo:6:18}}<br>
                Name: {{bug.name}}<br>
                Subject: {{bug.subject}}<br>
                report: {{bug.report}}<br>
                seen_by_developers: {{bug.seen_by_developers}}<br>
                solved: {{bug.solved}}<br>
                created_at: {{bug.created_at}}<br>
                updated_at: {{bug.updated_at}}
            </div>
        </div>
    </div>
    <comp-pagination
    list=bugs.list
    eps=bugs.eps
    cp=bugs.cp
    mp=bugs.mp
    begin=bugs.begin
    first=true
    prev=true
    next=true
    last=true>
    </comp-pagination>
</div>