{{#if label_before}}
<label class="label_before">{{label_before}}</label>
{{/if}}
<div class="{{if checked 'fa fa-check'}} check_input"></div>
{{#if label_after}}
<label class="label_after">{{label_after}}</label>
{{/if}}