<div class="modal fade" id="modal-report-error" tabindex="-1" role="dialog">
    <form ng-submit="submit()" class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">We're happy to hear from you whether it's suggestions, corrections or general feedback</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="modal-report-error-name" class="control-label">Name (Optional)</label>
                    <input type="text" id="modal-report-error-name" class="form-control" placeholder="Name (Optional)" ng-model="info.full_name">
                </div>
                <div class="form-group">
                    <label for="modal-report-error-email" class="control-label">E-mail (Optional)</label>
                    <input type="text" id="modal-report-error-email" class="form-control" placeholder="E-mail (Optional)" ng-model="info.email">
                </div>
                <div class="form-group">
                    <label for="modal-report-error-subject" class="control-label">Subject</label>
                    <input type="text" class="form-control" id="modal-report-error-subject" ng-model="info.subject" placeholder="Short description of the bug">
                </div>
                <div class="form-group">
                    <label for="modal-report-error-report" class="control-label">Bug report</label>
                    <textarea class="form-control" id="modal-report-error-report" ng-model="info.report" placeholder="Type your bugreport here. Thank you!"></textarea>
                </div>
                <div class="form-group">
                    <comp-check-box bool=info.contact_later label="May we contact you via e-mail at a later time regarding this issue?"></comp-check-box>
                </div>
                <div class="form-group">
                    <comp-check-box bool=info.display_on_site label="May we display this report on our site?"></comp-check-box>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" value="Send bug" class="btn btn-success">
            </div>
        </div>
    </form>
</div>