<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="index">reBOOK</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>
                <a ui-sref="find">
                    <i class="fa fa-search"></i><u>F</u>ind
                </a>
            </li>
            <li>
                <a ui-sref="sell">
                    <i class="fa fa-usd"></i><u>S</u>ell
                </a>
            </li>
            <li>
                <a ui-sref="wtf">
                    <u>W</u>TF!?
                </a>
            </li>
            <li>
                <a ui-sref="bugs({page: 1})">
                    <i class="fa fa-bug"></i><u>b</u>ugs reported
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" ng-if="user._id != undefined">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-star text-yellow"></i>{{user.first_name}} {{user.last_name}}<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a ui-sref="profile.overview"><i class="fa fa-fw fa-paint-brush" data-toggle="dropdown"></i><u>O</u>verview</a>
                    </li>
                    <li>
                        <a ui-sref="profile.stats"><i class="fa fa-fw fa-shopping-cart" data-toggle="dropdown"></i>S<u>t</u>ats</a>
                    </li>
                    <li>
                        <a ui-sref="profile.messages"><i class="fa fa-fw fa-shopping-cart" data-toggle="dropdown"></i><u>M</u>essages</a>
                    </li>
                    <li>
                        <a ui-sref="profile.books"><i class="fa fa-fw fa-shopping-cart" data-toggle="dropdown"></i><u>B</u>ooks</a>
                    </li>
                    <li>
                        <a ui-sref="profile.settings"><i class="fa fa-fw fa-shopping-cart" data-toggle="dropdown"></i><u>S</u>ettings</a>
                    </li>
                    <li>
                        <a ui-sref="profile.wishlist"><i class="fa fa-fw fa-shopping-cart" data-toggle="dropdown"></i><u>W</u>ishlist</a>
                    </li>
                    <li>
                        <a href="/logout" target="_self"><i class="fa fa-fw fa-shopping-cart"></i>Sign out</a>
                    </li>
                </ul>
            </li>
            <div ng-if="user._id == undefined">
                <form class="navbar-form navbar-right" role="search">
                    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#modal-local-sign-in">Sign in</button>
                    <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#modal-local-sign-up">Sign up</button>
                </form>
            </div>
        </ul>
    </div>
</div>
<div class="loadbar" ng-if="load.count > 0"></div>