<ul>
    <li>
        {{#link-to "index"}}index{{/link-to}}
    </li>
    <li>
        {{#link-to "sell"}}Sell books{{/link-to}}
    </li>
    <li>
        {{#link-to "books"}}Find books{{/link-to}}
    </li>
    <li>
        {{#link-to "profile"}}Profile{{/link-to}}
    </li>
    <li>
        {{#link-to "profile.settings"}}Settings{{/link-to}}
    </li>
    {{model.first_name}}
</ul>
